
.vs/TennisHighlights/DesignTimeBuild/.dtbcache
.vs/TennisHighlights/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
InWit.WPF.MultiRangeSlider/bin/Debug/netcoreapp3.0/InWit.WPF.MultiRangeSlider.deps.json
bin
obj
bin
obj
/TennisHighlights/Utils/PoseEstimation/KeypointExtractor.cs
/TennisHighlights/Utils/PoseEstimation/PoseEstimationTest.cs
/TennisHighlightsGUI/WPF/ViewModelBase.cs
/TennisHighlights/PoseEstimationFiles/pose_iter_160000.zip
